body{
  background-image: url('Weather.jpg');
}


.weather-container {
  max-width: 400px;
  margin: 230px auto;
  padding: 30px;
  background-color: #344470;
  border-radius: 8px;
  box-shadow: 0 0 20px white;
  
}

.weather-heading {
  text-align: center;
 color: white;
  font-size: 24px;
  padding-top: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.weather-form {
  display: flex;
  margin: 40px 50px  ;
  padding: 0 0  20px;

  
}

.weather-input {
  flex: 1;
  padding: 10px 10px 10px 10px;
  border: 1px solid #fafbfb;
  border-radius: 4px;
  margin-right: 10px;
  font-style: italic;
  

}

.weather-button {
  padding: 10px 20px;
  background-color: #3f566f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.weather-button:hover {
  background-color: #85a7cc;
}

.weather-error {
  color: #ff0000;
  margin: 10px 0 0 80px;
}

.weather-data {
  text-align: center;
  color: white;
  padding-bottom: 10px;
  
}

.weather-city {
  font-size: 28px;
  margin-bottom: 10px;

  font-weight:bolder;

}

.weather-temp {
  font-size: 20px;
  margin-bottom: 10px;
  color: wheat;
}

.weather-description {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
